opencv-python==4.7.0.72
amqp==5.1.1
anyjson==0.3.3
billiard==4.1.0
chardet==5.1.0
codebug-i2c-tether==0.3.0
codebug-tether==0.9.1
colorama==0.4.6
Flask==2.2.3
gpiozero==1.6.2
html5lib==1.1
itsdangerous==2.1.2
Jinja2==3.1.2
kombu==5.2.4
MarkupSafe==2.1.2
mcpi==1.2.1
numpy==1.24.2
pbr==5.11.1
pgzero==1.2.1
picamera==1.13
picraft==1.0
pifacecommon==4.2.2
pifacedigitalio==3.1.0
pigpio==1.78
Pillow==9.5.0
pygame==2.3.0.dev2
pygobject==3.42.2
pyinotify==0.9.6
pyOpenSSL==22.1.0
pyserial==3.5
python-apt==0.9.3.12
python-debian==0.1.49
pytz==2022.7.1
redis==4.5.1
requests==2.28.2
RPi.GPIO==0.7.1
RTIMULib==7.2.1
sense-emu==1.1
sense-hat==2.4.0
six==1.16.0
smbus==1.1.post2
spidev==3.6
stevedore==5.0.0
twython==3.9.1
urllib3==1.26.15
vine==5.0.0
virtualenv==20.21.0
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
Werkzeug==2.2.3
