opencv-python==4.10.0.84
amqp==5.2.0
anyjson==0.3.3
billiard==4.2.1
chardet==5.2.0
codebug-i2c-tether==0.3.0
codebug-tether==0.9.1
colorama==0.4.6
Flask==3.0.3
gpiozero==2.0.1
html5lib==1.1
itsdangerous==2.2.0
Jinja2==3.1.4
kombu==5.4.2
MarkupSafe==3.0.2
mcpi==1.2.1
numpy==2.1.2
pbr==6.1.0
pgzero==1.2.1
picamera==1.13
picraft==1.0
pifacecommon==4.2.2
pifacedigitalio==3.1.0
pigpio==1.78
Pillow==11.0.0
pygame==2.6.1
pygobject==3.50.0
pyinotify==0.9.6
pyOpenSSL==24.2.1
pyserial==3.5
python-apt==0.9.3.12
python-debian==0.1.49
pytz==2024.2
redis==5.1.1
requests==2.32.3
RPi.GPIO==0.7.1
RTIMULib==7.2.1
sense-emu==1.2.1
sense-hat==2.6.0
six==1.16.0
smbus==1.1.post2
spidev==3.6
stevedore==5.3.0
twython==3.9.1
urllib3==2.2.3
vine==5.1.0
virtualenv==20.27.0
virtualenv-clone==0.5.7
virtualenvwrapper==6.1.1
Werkzeug==3.0.4
